<!-- <div class="searchBar" *ngIf="mode == 'lite'; then liteMode  else fullMode"></div>

<ng-template #liteMode>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
  </mat-form-field>
</ng-template>

<ng-template #fullMode>
  <mat-form-field>
    <input matInput placeholder="Payload Folder" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="User" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="File" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="From" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="To" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Message" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="From" />
  </mat-form-field>
</ng-template> -->

<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- User Column -->
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>User</th>
      <td mat-cell *matCellDef="let row">
        {{ row.author }}
      </td>
    </ng-container>

    <!-- File Column -->
    <ng-container matColumnDef="file">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>File</th>
      <td mat-cell *matCellDef="let row">{{ row.nodeName }}</td>
    </ng-container>

    <!-- Time Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
      <td mat-cell *matCellDef="let row">{{ row.loggedDate }}</td>
    </ng-container>

    <!-- Message Column -->
    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Message</th>
      <td mat-cell *matCellDef="let row">{{ row.message }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
